.jimu-widget-demo div:first-child{
  color: red;
}
.contentWrap{
  display: flex;
  margin: 10px 0;
}
.contentWrap .content{
  max-height: 200px;
  overflow-y: auto;
  color: rgba(255, 255, 255, 0.8)!important;
  padding-right: 10px;
}
.contentWrap .contentImage{
  margin-left: 10px;
}
.contentWrap .contentImage img{
  width: 180px;
  height: auto;
}
.closeContent{
  background: red;
  border: 0px solid;
  color: #fff;
}